# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# SQLite Database
db.sqlite3

# Media files
media/

# VS Code
.vscode/

# Environment variables
.env

# Python cache
*.pyo
*.pyd

# macOS
.DS_Store