{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-5">

        <div class="card shadow">

            <div class="card-header bg-success text-white text-center">

                <h3>Login</h3>

            </div>

            <div class="card-body">

                {% if messages %}

                    {% for message in messages %}

                        <div class="alert alert-danger border-start border-5 border-danger alert-dismissible fade show shadow-sm" role="alert">

                            {{ message }}

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                            </button>

                        </div>

                    {% endfor %}

                {% endif %}

                <form method="POST">

                    {% csrf_token %}

                    <div class="mb-3">

                        <label class="form-label">

                            Username

                        </label>

                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            value="{{ request.POST.username }}"
                            required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">

                            Password

                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            required>

                    </div>

                    <button
                        type="submit"
                        class="btn btn-success w-100">

                        Login

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}